- if block['title']
  .title
    %span.underline= block['title']

- if block['description']
  .description= block['description']['html']

- if block['source']
  .source= link_to block['source']['url'], block['source']['url'], :target => '_blank'