@import "mixins";

// BASE
// ----
* { @include border-box; }

@mixin selection { background: #000; color: #eee; text-shadow: none; }
::-moz-selection { @include selection; }
::selection { @include selection; }

html, body {
  height: 100%;
  background: #f3f3f3;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: $sans;
  font-size: $font-size;
  line-height: $unit - 2;
}

a {
  text-decoration: none;
  color: $standout;
}

object, embed, iframe, img {
  margin: 0;
  vertical-align: bottom;
}

blockquote {
  margin: 0;
  padding-left: $unit;
  border-left: 2px solid;
}

// STRUCTURE
// ---------
#container {
  height: 100%;

  #main {
    padding: $unit;
    // height: 100%;
    width: 100%;
    // display: table;

    .middle {
      // display: table-cell;
      // height: 100%;
      width: 100%;
      vertical-align: middle;
    }
  }
}

#navigation {
  width: 75%;
  margin: $unit auto;
  padding: 0;
  z-index: 100;
  font-size: 0;
  text-align: center;
  font-weight: bold;


  .item {
    display: inline-block;
    padding: $unit/2;
    color: #000;
    font-size: $font-size;

    &:hover { text-decoration: underline; }
    &.home { color: $standout; }
    &.current { text-decoration: underline; }
  }
}

.label {
  padding: 1px 4px 2px;
  background: $standout;
  vertical-align: baseline;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.objects {
  width: 100%;
  font-size: 0;
  text-align: center;

  .object {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    margin: $unit/2;

    // Clickable area
    .area {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    // Individual permalink anchor
    .permalink {
      display: block;
      position: absolute;
      top: $unit;
      right: $unit;
      visibility: hidden;
      font-family: $sans;
    }
      &:hover {
        .permalink { visibility: visible; }
      }

    &.text, &.full {
      @include clearfix;
      display: block;
      width: 75%;
      height: inherit;
      margin: $unit*2 auto;
      padding: $unit;
    }

    &.channel {
      width: 250px;
      height: 250px;
      background-color: #ccc;
      @include border-radius(2px);
      
      .title {
        margin: 0;
        vertical-align: middle;
        line-height: 250px;
        font-size: $font-size;
        letter-spacing: 0;
        color: #fff;
        text-align: center;
      }
    }

    &.image img {
      @include border-radius(2px);
    }

    &.media:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -8px;
      margin-top: -5px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 16px solid $standout;
    }
  }
}

.representation.text {
  width: 75%;
  margin: auto;
}

.metadata {
  width: 75%;
  margin: $unit auto;
}

.title {
  margin: $unit 0;
  text-align: left;
  line-height: $unit;
  font-size: $font-size;
  font-weight: bold;
}

// General text formating
.text, .description {
  font-family: $sans;
  font-size: $font-size + 2;
  line-height: $unit;
  text-align: left;
}

.source {
  margin: $unit 0;

  a {
    text-decoration: underline;
  }
}


// Inline and block code styles
code,
pre {
  font-family: monospace;
  font-size: $font-size - 2;
  line-height: $unit - 5;
}

pre {
  display: block;
  padding: $unit;
  margin: $unit 0;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid rgba(0,0,0,.15);

  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

// UTIL
// ----
.align-center { text-align: center; }