- content_for :navigation do
  = link_to SITE_TITLE, url_for(:channels, :index), :class => 'home item'
  
  - if current['title'] and current['title'] != SITE_TITLE
    %span.current.item
      = current['title']

  - @channels.try(:each) do |channel|
    .item= link_to channel['title'], url_for(:channels, :show, :id => slug_encode(channel['slug']))

  - if is_channel?(current)
    .item
      = link_to '#', url_for(:channels, :show, :id => slug_encode(current['slug'])), :class => 'channels'
    #menu.menu