!!! 5
%html{:lang => "en"}
  %head
    = stylesheet_link_tag "application"
  %body
    #container
      %nav#navigation
        = yield_content :navigation
      
      %section#main
        .middle
          = yield_content :main